*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}

.hidden {
	display: none;
}



body{
	margin-top:210px;
	background-color: #614f43;
}


.underline{
	text-decoration: underline;
}

.d-inline-block{
	display: inline-block;
}

.d-table{
	display: table;
}

.gradient-text{
	background: -webkit-repeating-linear-gradient(top, #E3C9AF, #DCB873) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}


.page-title{
	display: inline-block;
	font-size: 3.5rem;
}

.bg{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
	background: url("../img/pattern.png");
	z-index: -1;
}


/* header */

.header-top{
	background-color: #4c3d33;
	color: #d9bd9f;
}

.header-top:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%), url("../img/pattern.png");
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%), url("../img/pattern.png");
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%), url("../img/pattern.png");
}

.header-top .d-table{
	height: 150px;
}

.logo{
	font-family: "LaurenScript", sans-serif;
	font-size: 	3rem;
	padding: 10px 0;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
    float: none;
}


.advantages{
	margin: 0;
	padding: 0;
}

.language{
	font-size: 10px;	
}

.advantages>li{
	display: inline-block;
	margin-left: 45px;
	position: relative;
	font-size: 10px;
}

.advantages>li:before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.5;
    background-image: url("../img/icons.png");
    background-position: -61px -135px;
}

.flags-select input{
	display: none;
}

.flag-icon{
	background-image: url("../img/flags.png");
	display: inline-block;
	width: 30px;
	height: 20px;
	background-size: 300%;
}


.flag-icon{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

input + .flag-icon{
	opacity: 0.5;
}

input:checked + .flag-icon,
.flag-icon:hover{
	opacity: 1;
}

.flag-cornered.flag-icon{
	position: absolute;
	right: 10px;
	top: 10px;
}

.flag-Belgium{
	background-position: 0% 0%;
}

.flag-United-Kingdom{
	background-position: 50% 0%;
}

.flag-Netherlands{
	background-position: 100% 0%;
}

.flag-Turkey{
	background-position: 0% 100%;
}

.flag-Georgia{
	background-position: 50% 100%;
}

.flag-Greece{
	background-position: 100% 100%;
}




.header-bottom{
	background-color: #d9bd9f;
}

.navbar-default{
	border: 0px;
}

.navbar-nav{
	width: 100%
}

.reg-red-btn{
	display: inline-block;
	width: 100%;
	background-color: #be2531!important;
	color: #fff!important;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	padding-left: 60px!important;
	position: relative;
}

div > .reg-red-btn{
	font-size: 14px;
}

.reg-red-btn:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-right: 1px solid #ab212c;
}


.reg-red-btn:after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	top: 0;
	bottom: 0;
	left: 12px;
	margin: auto;
	background-image: url(../img/icons.png);
	background-position: -68px -175px;
}

.navbar-nav>li:last-child>a{
	color: #fff;
}

.navbar-nav>li>a{
	padding: 20px 20px 17px;
	color: #4c3d33;
	border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #695749;
	color: #d9bd9f;
	border-bottom: 3px solid #43372e;
}

.navbar-nav>li:last-child{
	float: right;
}


/* footer */

.orange, .orange a, a.orange{
	color: #cca557;
}

footer p{
	color: #fff;
}

.seo{
	margin-bottom: 50px;
} 

.seo> p{
	font-size: 14px;
}

.footer-nav{
	background-color: #4d3e34;
	padding: 60px 0;
}

.footer-nav ul{
	margin: 0px;
	padding: 0px; 
	list-style: none;
}

.footer-nav span{
	color: #756255;
}

.footer-logo{
	font-family: "LaurenScript", sans-serif;
	font-size: 	3rem;
	padding: 10px 0;
	color: #d9bd9f;
}

.copyrights{
	font-size: 14px;
	padding: 24px 0;
}

/* index */

.slider-info{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	margin: auto;
}

.slider-title{
	font-family: "LaurenScript", sans-serif;
	font-size: 	5rem;
	margin-bottom: 3rem;
	font-weight: bold;
	display: block;
	padding: 10px;
}



.slider-btn{
	border: 1px solid #564128;
	color: #fff;
	display: inline-block;
	padding: 15px 60px;
}

.carousel-control:focus {
    opacity: 0.5;
}

.carousel-control:focus {
	width: 75px;
}

.carousel-control:focus:hover {
    opacity: 0.9;
}

.carousel-arrow-left{
	border-left: 1px solid #cda659;
	border-bottom: 1px solid #cda659;
	left: 25px;
}
.carousel-arrow-right{
	border-right: 1px solid #cda659;
	border-top: 1px solid #cda659;
	right: 25px;
}


.carousel-arrow-left,
.carousel-arrow-right {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

.tab-list{
	position: relative;
	top: -10px;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(204,178,149,1) 100%);
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(204,178,149,1) 100%);
	background: linear-gradient(to top,  rgba(0,0,0,0) 0%, rgba(204,178,149,1) 100%);
}



.list-filter{
	display: inline-block;
	position: relative;
}

.list-filter>li{
	padding: 25px 0;
	font-size: 22px;
}

.list-filter>li>a{
	color: #4d3e34;
	border-right: 1px solid #b39a82;
	background-color: transparent!important;
}

.list-filter>li:nth-child(3)>a{
	border-right-width: 0px;	
}

.list-filter>li.active>a,
.list-filter>li>a:hover,
.list-filter>li>a:focus{
	color: #7f6c5a!important;
}

.sliding-triangle {
    position: absolute;
    width: 28px;
    height: 10px;
    border-top: 14px solid #4d3e34;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
}

.sliding-triangle{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



.list-filter>li:nth-child(1).active ~ .sliding-triangle{
	left: 15%;
}

.list-filter>li:nth-child(2).active ~ .sliding-triangle{
	left: 48%;
}

.list-filter>li:nth-child(3).active ~ .sliding-triangle{
	left: 81%;
}



.list-items{
	margin: 0 -10px;
}
.list-item{
	padding: 10px;
	float: left;
}

.item20{
	width: 20%;
}

.img-wrap{
	position: relative;
}

.item-bg, .item-bg a{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.item-bg:hover{
	background-color: rgba(0,0,0,0.5);
}

.item-bg:hover>a{
	opacity: 1;
}

.item-bg a{
	border: 1px solid #564128;
	color: #fff;
	line-height: 50px;
	height: 50px;
	margin: auto 20px;
	opacity: 0;

}

/* item */

.breadcrumbs{
	margin-top: 30px;
	font-size: 1.3rem;
}

.breadcrumbs a{
	position: relative;
	margin-right: 20px;
}

.breadcrumbs a:after{
	content: '→';
	display: block;
	position: absolute;
	color: #c4bfbc;
	right: -20px;
	top: 0;
	line-height: 20px;
}

.img-wrap img{
	width: 100%;
}

.item-desc{
	background: url(../img/pattern.png);
	background-color: #d9bd9f;
}

.row-info{
	margin-right: -10px;
	margin-left: -10px;
}

.left-info,
.right-info{
	padding: 10px;
}

.left-info img{
	width: 100%;
}

.img-tab-links{
	width: 17%;
	float: left;
}

.img-tab-content{
	width: 83%;
	float: left;
}


.img-tab-links > a {
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 10px;
}
.gray{
	color: #c4bfbc;
}

.info-section{
	border-bottom: 1px solid #8c7764;	
	color: #fff;
	padding: 15px;
	background-color: rgba(217, 189, 159, 0.2);
}

.desc-title{
	font-size: 25px;
	border-left: 3px solid #cca557;
	margin-left: -15px;
	padding-left: 15px;

}

.check-list{
	list-style: none;
	padding: 0px;
}

.check-list>li{
	margin-left: 35px;
	position: relative;
}

.check-list>li:before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -30px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/icons.png);
	background-position: -28px -62px;
	background-repeat: no-repeat;
	background-size: 50px;
}

.contats-info{
	position: relative;
}

.contats-info:after{
	content: '';
	position: absolute;
	width: 61px;
	height: 66px;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	background-image: url(../img/icons.png);
	background-position: 0px -109px;
	opacity: 0.25;
}

.contact-btns{
	font-size: 14px;
}

.btn-brown{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	background-color: #5b4b3f;
	border: 1px solid #6b5b4e; 
	color: #fff;
	position: relative;
	min-width: 200px;
}

.star-icon:before,
.clock-icon:before,
.ban-icon:before,
.warning-icon:before{
	content: ' ';
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -20px;
	background-image: url(../img/icons.png);
}

.star-icon:before{
	background-position: 0px -175px;
}

.clock-icon:before{
	background-position: -17px -175px;
}

.ban-icon:before{
	background-position: -34px -175px;
}

.warning-icon:before{
	background-position: -51px -175px;
}

.details{
	width: 100%;
}

.details td:first-child{
	color: #c4bfbc;
}
.details td:last-child{
	color: #fff;
}

.red-mark{
	width: 109px;
	height: 109px;
	line-height: 20px;
	background-image: url(../img/icons.png);
	background-position: 0px 0px;
}

.new-girl{
	font-size: 22px;
}

.best{
	font-size: 27px;	
}

.service{
	font-size: 16px;	
}


.reviews{
	margin-top: 20px;
}

.reviews .btn-brown{
	margin-top: 20px;
}

.comment{
	margin-top: 10px;
	margin-bottom: 30px;
}

.comment-title{
	line-height: 1.5rem;
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
}

.comment-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../img/icons.png);
    background-position: -61px -109px;
    top: 20px;
    right: -26px;
}

.comment-name{
	color: #d9bd9f;
	font-size: 2rem;
}

.comment-time{
	color: #c4bfbc;
	font-size: 1rem;
}

.comment-body{
	color: #fff;
	background-color: #5b4b3f;
	font-size: 1.6rem;
	padding: 20px;
	border: 1px dashed #d9bd9f;
	border-radius: 20px;
}


.select-panel {
	background-color: #59493d;
    padding: 15px 15px 0;
    margin-bottom: 10px;
}

.control-label{
    padding-top: 4px!important;
}


.custom-select{
	position: relative;
}

.custom-select > select{
	color: #fff;
	background: #645548;
	border: 1px solid #897457;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-select > select:focus{
	border-color: #897457;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(137,116,87,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(137,116,87,.6);
}

.custom-select:after{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0;
	bottom: 0;
	right: 12px;
	margin: auto;
	pointer-events: none;
	background-color: transparent;
	border-right: 1px solid #cda659;
	border-bottom: 1px solid #cda659;
	transform: rotate(45deg);
}