header
	div.logo
	ul.menu
		li Home
		li The Industry
		li Platform features
		li CRM Features
		li Services Provided

section.who-we-are.company
	h2 The company – Who are we?
	p Beetech was founded in 2015 by a team of binary options veterans with the aim of making a fully encompassing binary options platform solution that allows our customers to focus on their areas of expertise and to start generating profits immediately.

section.platform
	.container
		.row
			.col-md-4
				div.hexagon-panel
					div.hexagon
					div.hexagon-content
						h2.text-center Platform features
						p Our trading platform has been lovingly designed to be user friendly, while maintaining a beautiful design. We offer a top of the range live feed and a wide range of assets meaning your clients can trade what they want and how they want in real time.


		.row.text-center
			a.btn Call to Action

section.crm
	.container
		.row
			.col-md-10
				h2 CRM Features
				p Using our vast experience in the binary options business we have created a back office system that provides you all the features that you need. We provide a fast, simple and clean interface that allows you to manage your clients effectively and team with maximum efficiency:
	.container
		.row.text-center
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-1
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-2
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-3
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-4

	.container
		.row
			.col-md-4
				div.hexagon-panel
					div.hexagon
					div.hexagon-content
						h2.text-center Safe
						p Our advanced compliance and risk management system allow you to protect your business against fraud.Our advanced compliance and risk management system allow you to protect your business against fraud.


		.row.text-center
			a.btn Call to Action

	.container
		.row
			.col-md-4.pull-right
				div.hexagon-panel
					div.hexagon
					div.hexagon-content
						h2.text-center Secure
						p Our onsite security system automatically logs every action made on the site meaning that your data is secure.


		.row.text-center
			a.btn Call to Action

	.container
		.row
			.col-md-4.pull-right
				div.hexagon-panel
					div.hexagon
					div.hexagon-content
						h2.text-center Connect 
						p Our state of the art API integration software and pixel management system makes connecting to marketing partners quick and easy as well as incredibly accurate

	.container
		.row
			.col-md-4
				div.hexagon-panel
					div.hexagon
					div.hexagon-content
						h2.text-center Analyse  
						p Our in build reporting system allows you to measure every aspect of your businesses performance.


		.row.text-center
			a.btn Call to Action

section.company
	.container
		.row
			.col-md-10
				h2 Services Provided
				p 		With nearly 10 years’ experience in the binary options industry Beetech have a nearly unrivaled collection of contacts that we can connect you with our services include
		.row.text-center
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-5
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-6
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-7
			div.col-md-3
				div.hexagon-icon-panel
					div.hexagon-icon.hexagon-icon-8

.container
	.row
		.col-md-12
			span.font-test.fontAcknowledgeBold fontAcknowledgeBold	
			span.font-test.fontAcknowledgeRegular fontAcknowledgeRegular	
			span.font-test.fontAcromBold fontAcromBold	
			span.font-test.fontProximaNovaBold fontProximaNovaBold	
			span.font-test.fontProximaNovaCondensedLight fontProximaNovaCondensedLight	
			span.font-test.fontProximaNovaCondensedRegular fontProximaNovaCondensedRegular	
			span.font-test.fontProximaNovaRegula fontProximaNovaRegula


