.container
	.row
		.col-md-12
			h2 hey
			h2.reverse hey-hey
			span.font-test.fontAcknowledgeBold fontAcknowledgeBold	
			span.font-test.fontAcknowledgeRegular fontAcknowledgeRegular	
			span.font-test.fontAcromBold fontAcromBold	
			span.font-test.fontProximaNovaBold fontProximaNovaBold	
			span.font-test.fontProximaNovaCondensedLight fontProximaNovaCondensedLight	
			span.font-test.fontProximaNovaCondensedRegular fontProximaNovaCondensedRegular	
			span.font-test.fontProximaNovaRegula fontProximaNovaRegula
