.container
	.row
		.col-md-12
			h2 hey
			h2.inverse hey-hey
			p hey hey hey hey hey hey hey hey hey hey  hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey hey 
			span.font-test.fontAcknowledgeBold fontAcknowledgeBold	
			span.font-test.fontAcknowledgeRegular fontAcknowledgeRegular	
			span.font-test.fontAcromBold fontAcromBold	
			span.font-test.fontProximaNovaBold fontProximaNovaBold	
			span.font-test.fontProximaNovaCondensedLight fontProximaNovaCondensedLight	
			span.font-test.fontProximaNovaCondensedRegular fontProximaNovaCondensedRegular	
			span.font-test.fontProximaNovaRegula fontProximaNovaRegula
			a.btn Call to Action


.container
	.row
		.col-md-4
			div.hexagon-panel
				div.hexagon
				div.hexagon-content
					h2.text-center hexagon-content
					p hexagon-content hexagon-content hexagon-content
		.col-md-4
			div.hexagon-panel.panel-orange
				div.hexagon
				div.hexagon-content
					h2.text-center hexagon-content
					p hexagon-content hexagon-content hexagon-content

.container
	.row.text-center
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-1
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-2
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-3
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-4

	.row.text-center
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-5
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-6
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-7
		div.col-md-3
			div.hexagon-icon-panel
				div.hexagon-icon.hexagon-icon-8